render-python==2.2.1
argschema>=1.15.17
numpy
pillow
tifffile
pathlib2
scipy
rtree
networkx
bokeh
EMaligner==1.0.0
opencv-contrib-python<3.4.3.0
em_stitch==0.2.3
matplotlib
jinja2
six
scikit-image
shapely
triangle
imageio
seaborn
mpld3
descartes
lxml
