render-python>=2.3.1
marshmallow<3.0
argschema<2.0
numpy
pillow
tifffile
pathlib2
scipy
rtree
networkx
bokeh<=1.4.0
bigfeta
opencv-contrib-python
em_stitch
matplotlib
jinja2<3.1
six
scikit-image
shapely
triangle
uri_handler
imageio
seaborn
mpld3
descartes
lxml
