render-python==2.1.1
argschema>=1.15.17
numpy
pillow
tifffile
pathlib
scipy
rtree
networkx
bokeh
EMaligner==0.3.2
matplotlib
opencv-contrib-python<3.4.3.0
jinja2
six
scikit-image
shapely
triangle
imageio
lxml
