{
    "render": {
        "host": "{{ render_host }}",
        "port": "{{ render_port }}",
        "owner": "{{ render_owner }}",
        "project": "{{ render_project }}",
        "client_scripts": "{{ client_scripts }}"
    },
    "lowres_stack": {
        "stack": "{{ lowres_stack_name }}",
        "owner": "{{ owner_of_the_lowres_stack }}",
        "project": "{{ render_project_containing_the_lowres_stack }}"
    },
    "output_lowres_stack": {
        "stack": "{{ output_lowres_stack_name }}",
        "owner": "{{ owner_of_the_output_stack }}",
        "project": "{{ render_project_containing_the_lowres_stack }}"
    },
    "point_match_collection": {
        "owner": "{{ owner_of_point_match_colelction }}",
        "collection": "{{ name_of_point_match_collection }}",
        "scale": "{{ scale_at_which_these_point_matches_were_generated }}"
    },
    "solver_options": {
        "min_tiles": 20,
        "degree": 1,
        "outlier_lambda": 100,
        "solver": "backslash",
        "matrix_only": 0,
        "distribute_A": 1,
        "dir_scratch": "{{ scratch_directory }}",
        "min_points": 20,
        "max_points": 100,
        "nbrs": 3,
        "xs_weight": 1,
        "stvec_flag": 1,
        "distributed": 0,
        "lambda": 1000,
        "edge_lambda": 1000,
        "use_peg": 0,
        "complete": 1,
        "disableValidation": 1,
        "apply_scaling": 1,
        "scale_fac": 20.0,
        "translation_only": 0,
        "translate_to_origin": 1,
        "verbose": 1,
        "debug": 0
    },
    "solver_executable":"{{ solver_executable }}",
    "minz": {{ min_z }},
    "maxz": {{ max_z }}
}
